body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

:root {
  --focused-color: #404bbf;
  --logo-second-color: #2e2f42;
  --logo-main-color: #4d5ae5;
  --title-main-color: #ffffff;
  --white-background-color: #ffffff;
  --title-color: #2e2f42;
  --blue-background-color: #2e2f42;
  --subtitle-color: #2e2f42;
  --link-color: #434455;
  --cloud-background-color: #f4f4fd;
  --footer-logo-color: #f4f4fd;
  --footer-paragraphe-color: #f4f4fd;
  --button-color: #ffffff;
  --portfolio-button-color: #4d5ae5;
  --portfolio-button-focused-color: #ffffff;
  --portfolio-main-button-background-color: #f4f4fd;
  --main-button-background-color: #4d5ae5;
  --button-focused-background-color: #404bbf;
  --cards-border-color: #e7e9fc;
  --buttons-border-color: #e7e9fc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**-------------STUDIO----------*/
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/**-------------HEADER----------*/

.header {
  background-color: var(--white-background-color);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-main-color);
  margin-right: 76px;
}

.header-logo-dark {
  color: var(--logo-second-color);
}

.header-menu {
  display: flex;
  gap: 40px;
}
/*
.header-menu-item {
}*/

.header-menu-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--focused-color);
}

.header-adress {
  font-style: normal;
  margin-left: auto;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.header-adress-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: var(--focused-color);
}

/**-------------HERO----------*/
.hero {
  background-color: var(--blue-background-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-main-color);
}

.hero-btn {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--button-color);
  background-color: var(--main-button-background-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--button-focused-background-color);
}

/**-------------GOALS----------*/

.goals {
  padding: 120px 0;
}
/*?.goals-list {
}*/

.goals-item {
  width: calc((100% - 72px) / 4);
}

.goals-wrap {
  display: flex;
  gap: 24px;
}

.goals-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.goals-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**-------------DOINGS----------*/

.doings {
  padding-bottom: 120px;
}

.doings-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.doings-list {
  display: flex;
  gap: 24px;
}

.doings-item {
  width: calc((100% - 48px) / 3);
}
/*
.doings-img {
}*/

/**-------------TEAM----------*/
.team {
  background-color: var(--cloud-background-color);
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 48px) / 3);
  background-color: var(--white-background-color);
}
/*
.team-img {
}*/

.team-wrap {
  text-align: center;
  padding: 32px 16px;
}

.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**-------------FOOTER----------*/
.footer {
  background-color: var(--blue-background-color);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-main-color);
}

.footer-logo-light {
  color: var(--footer-logo-color);
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-paragraphe-color);
}

/**-------------PORTFOLIO----------*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-name-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/*
.portfolio-name-item {
}*/
.portfolio-btn {
  border: 1px solid var(--buttons-border-color);
  border-radius: 4px;
  padding: 12px 24px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--portfolio-button-color);
  background-color: var(--portfolio-main-button-background-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid transparent;
  color: var(--portfolio-button-focused-color);
  background-color: var(--button-focused-background-color);
}

.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-cards-item {
  width: calc((100 - 48px) / 3);
  background-color: var(--white-background-color);
}

.portfolio-cards-wrap {
  padding: 32px 16px;
  border-left: 1px solid var(--cards-border-color);
  border-right: 1px solid var(--cards-border-color);
  border-bottom: 1px solid var(--cards-border-color);
}
/*
.portfolio-img {
}*/
.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
